/* app css stylesheet */

body{
	background-color: #EEEEEE;
}

ul{
	list-style: none;
	padding: 0;
}

md-button{
	font-family: 'Roboto', sans-serif !important;
}


.serious_button{
	background-color: #00BCD4 !important;
	float: right;
}

.satire_button{
	float: right;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.headline_card{
	padding: 10px;
	font-size: 110%;
}

.headline_title{
	text-align: center;
	padding-top: 30px;
  	padding-bottom: 30px;
  	width: 70%;
  	font-family: 'Crimson Text', serif;
}

.guess_buttons{
	padding-top: 30px;
  	padding-bottom: 30px;
  	margin-left: auto;
  	margin-right: 0;
}

.guess_results{
	padding-top: 30px;
  	padding-bottom: 30px;
  	margin-left: auto;
  	margin-right: 0;
  	text-align: right;
}

.guessed-correct{
	background-color: #00BCD4 !important;
}

.guessed-wrong{
	background-color: #FF9800 !important;
}