/* app css stylesheet */

body{
	background-color: #F5F5F5;
}

md-button{
}

.main{
	flex-wrap: wrap;
	justify-content: center;
  	flex-direction: column;
	text-align: center;
}
.serious_button{}

.satire_button{}

.menu {
  border-bottom: 0.1em solid black;
  margin-bottom: 1em;
  padding: 0.5em 0.5em 0.5em;
  background-color: #424242;
  margin-top: 0px;

  color: #FAFAFA;
  font-family: 'Taviraj', serif;
  font-size: 150%;
  text-align: center;
}

.headline_container{
	height: 215px;
	width: 320px;
}

.headline_title{
	height: 130px;
	font-size: 1.15em;
  	font-family: 'Taviraj', serif;
  	color: #333333;
  	font-weight: bold;
  	display: flex;
  	justify-content: center;
  	flex-direction: column;
  	text-align: center;
}

.title{
	padding: 20px;
}

.control_buttons{
	display: flex;
  	justify-content: center;
  	flex-direction: column;
  	text-align: center;
}

.guess_buttons{

}

.guess_results{

}

.guessed-correct{
	background-color: #00BCD4 !important;
}

.guessed-wrong{
	background-color: #FF9800 !important;
}