<div ng-show="receivedHeadlines">
	<div ng-repeat="headline in headlines" class="headline_container" >
		<md-card class="headline_title"  ng-class="{true: 'md-whiteframe-2dp', false: 'md-whiteframe-5dp'}[headline.guessed.didGuess]">
			<span class="title">{{headline.title}}</span>
		</md-card>
		<span>
			<span class="guess_buttons" ng-show="headline.guessed.didGuess == false">
				<md-button class="serious_button md-raised" ng-click="guess(headline,'serious')">Serious</md-button> 
				<md-button class="satire_button md-raised" ng-click="guess(headline,'satire')">Satire</md-button>
			</span>

			<span class="guess_results" ng-show="headline.guessed.didGuess">
				<span class="actual_answer" ng-show="headline.subreddit == 'TheOnion'" ng-class="{true: 'guessed-correct', false: 'guessed-wrong'}[headline.guessed.correct]">satire</span>
				<span class="actual_answer" ng-show="headline.subreddit == 'nottheonion'" ng-class="{true: 'guessed-correct', false: 'guessed-wrong'}[headline.guessed.correct]">serious</span>

				<md-button ng-href="{{headline.url}}" target="_blank">article</md-button>
				<md-button ng-href="https://reddit.com{{headline.permalink}}" target="_blank">comments</md-button>
			</span>
		</span>
	</div>

	<div class="overall_results" ng-show="numberGuessed == numHeadlines">
		Your score is: {{numberCorrect}} / {{numHeadlines}}
	</div>
</div>