/* app css stylesheet */
body{
	background-color: #F5F5F5;
}


a{
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.main{
flex-wrap: wrap;
justify-content: center;
flex-direction: column;
text-align: center;

margin-top: 1em;
}

.serious_button{}

.satire_button{}

.menu {
  border-bottom: 0.1em solid black;
  padding: 0.5em 0.5em 0.5em;
  background-color: #424242;
  margin-top: 0px;

  color: #FAFAFA;
  font-family: 'Taviraj', serif;
  font-size: 150%;
  text-align: center;
}

#title_screen{
  color: #FAFAFA;
  background-color: #424242;
  height:100vh;
  
  text-align:center;
}

#welcome{
	font-size: 2em;
	padding: 20px;
}

.rules{
	font-size: 1.5em;
	padding: 20px;
}

#begin_button{
	font-size: 1.5em;
}

.headline_container{
	height: 215px;
	width: 320px;
	padding: 20px;
}

.headline_title{
	height: 130px;
	font-size: 1.15em;
  	font-family: 'Taviraj', serif;
  	color: #333333;
  	font-weight: bold;
  	display: flex;
  	justify-content: center;
  	flex-direction: column;
  	text-align: center;

  	transition: .5s;
}

.title{
	padding: 20px;
}

.control_buttons{
	display: flex;
  	justify-content: center;
  	flex-direction: column;
  	text-align: center;
}

.guess_buttons{
}

.guess_results{
}

.guessed-correct{
	background-color: #00BCD4;
	color:#FAFAFA;
	padding-left: 3px;
	padding-right: 3px;
}

.guessed-wrong{
	background-color: #FF9800;
	color:#FAFAFA;
	padding-left: 3px;
	padding-right: 3px;
}

#overall_results_container{
	display: flex;
  	justify-content: center;
}

.overall_results{
	background-color: #00BCD4;
	font-size: 2em;
	font-weight: bold;
	color:#FAFAFA;
	height: 215px;
	width: 215px;
	display: flex;
  	justify-content: center;
  	flex-direction: column;
  	text-align: center;

  	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}



.fade-in {
  -webkit-transition: .25s linear all;
  transition: .25s linear all;
}
.fade-in.ng-enter {
  opacity: 0;
}
.fade-in.ng-enter.ng-enter-active {
  opacity: 1;
}
.fade-in.ng-leave {
  opacity: 1;
}
.fade-in.ng-leave.ng-leave-active {
  opacity: 0;
}